@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cormorant Garamond, "Times New Roman", Times, serif;
}

body {
  background-color: #1e1e1e;
}

h1 {
  font-size: 3rem;
}

p,
a {
  font-size: 1.4rem;
}

/* CONTENT ROW STYLES */
.x-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

/*** HEADER STYLES ***/
.header-section {
  background-image: url("images/talltale-background.jpg");
  background-color: rgba(0, 0, 0, 1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  height: 100vh;
  position: relative;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content img {
  width: 100%;
}

.mobile-header-btn {
  font-weight: 800;
  visibility: hidden;
}

/*** WELCOME ***/
.welcome-container {
  background-image: url("images/talltale-background-2.jpg");
  background-color: rgba(0, 0, 0, 1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.5;
  padding: 20px;
  font-weight: 800;
}

.box {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 20px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.box img {
  width: 100%;
}

.box.show {

    opacity: 1;

}

.album-year {
  margin-top: -25px;
}

/*** SPOTIFY STYLES ***/
.spotify {
  background-image: url("images/dice-background-3.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.5;
  font-weight: 800;
}

.full-box {
  flex-basis: 50%;
}

.full-inner-box p {
  font-size: 1.5rem;
}

.full-inner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 60px 20px;
}

.spotify a {
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  border: 2px solid #000;
  padding: 10px;
}

.spotify a:hover {
  cursor: pointer;
  filter: brightness(85%);
  transition: 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
}
/*** FULL VIDEO STYLES ***/
.video-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  gap: 30px;
  position: relative;
  background-image: url("images/talltale-background-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
    background-attachment: fixed;
}

.full-video-container {
  width: 75%;
  position: relative;
  padding-bottom: 36.25%;
  /* 16:9 aspect ratio (height/width) */
  overflow: hidden;
  margin: 0 auto;
  display: flex;
}

.full-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full-video-text {
  color: #fff;
  font-size: 3rem;
}

.video-row p {
  color: #fff;
}

.full-video-btn-link {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  border: 2px solid #fff;
  padding: 10px;
}

.full-video-btn-link:hover {
  cursor: pointer;
  filter: brightness(85%);
  transition: 0.3s ease-in-out;
  background-color: black;
}

.middle-card {
  transform: translateY(100px);
  opacity: 0;
  transition: 600ms;
}

.middle-card.show {
  transform: translateX(0);
  opacity: 1;
}

/* LATEST NEWS */
#latest-news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("images/wood-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 50px 0;
}

#latest-news-section h2{
  font-size: 3rem;
}

.latest-news-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding: 1rem;
}

/*** TABLE STYLES ***/

th {
  font-size: 1.3rem;
}


td {
  padding: 6px;
  
}

td a {
  text-decoration: none;
  color: #fff;
}

td a:hover {
  color: #ffbf4f;
  text-decoration: underline;
  transition: .3s ease-in-out;
}

th {
  text-align-last: left;
}

/*** ENGAGE WITH US ***/
.social-media-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  gap: 12px;
}

.icon-container {
  display: flex;
  gap: 12px;
}

.icon-container a {
  text-decoration: none;
}

.icon-container a:hover > i {
  background-color: #7e7e7e;
  transition: .3s ease-in-out;
}

.icon-container i {
  color: #fff;
  font-size: 2rem;
  background-color: #1f1f1f;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/*** CONTACT STYLES ***/
.contact-container {
  background-image: url("images/contact.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
}

.contact-container h1 {
  margin-top: 30px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  padding: 40px;
}

.contact-container form input {
  font-weight: 800;
  font-size: 1.3rem;
}

.contact-container form button {
  width: 150px;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: #fff;
  padding: 12px;
  font-size: 1.5rem;
  border: 2px solid #fff;
  font-weight: 800;
}

.label-input-container {
  display: flex;
  flex-direction: column;
}

input {
  padding: 6px;
  font-size: 1rem;
}

/*** FOOTER STYLES ***/
footer {
  color: #fff;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 35px;
}

.footer-inner-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 100px;
}


.copyright-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-inner-container p {
  font-size: 0.7rem;
}

.footer-inner-container a {
  text-decoration: none;
  color: #fff;
  font-size: 0.7rem;
}

@media only screen and (max-width: 1024px) {
  .header-section {
    background-image: url("images/talltale-background.jpg");
    background-attachment: scroll; /*no browser support for background-attachment: fixed; */
    height: 100vh;
  }

  .header-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header-content img {
    width: 80%;
  }

  .mosaic-top-container img {
    max-width: 400px;
  }

  .intersect-rect-2 {
    height: 300px;
  }

  .half-screen-inner-container {
    min-width: 300px;
  }

  .perennial-container p,
  .what-we-know-container p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .hamburger-container {
    top: 10px;
    right: 10px;
  }

  .mobile-header-btn {
    margin-top: 10px;
    background-color: transparent;
    padding: 10px;
    font-size: 1.4rem;
    border: 1px solid #000;
    visibility: visible;
  }

  .mobile-header-btn a {
    color: #000;
    text-decoration: none;
  }

  .menu-expanded.active {
    background-image:none;
    background-color: rgb(232, 225, 185);
    box-shadow:inset 0px 0px 20px 5px rgba(151, 83, 14, .7);
  }

  .menu-expanded.active ul {
    margin-top: 50px;
  }

  h1 {
    font-size: 3rem;
  }

  .header-section {
    height: 100vh;
  }

  .header-content {
    width: 100%;
  }

  .header-content img {
    width: 90%;
  }

  .box {
    flex-basis: 100%;
    padding: 20px 10px;
  }

  .full-box,
  .half-screen {
    flex-basis: 100%;
  }

  .full-inner-box {
    padding: 20px 10px;
  }

  .full-inner-box h2 {
    font-size: 1.4rem;
    padding: 10px;
  }

  .full-inner-box iframe {
    width: 100%;
  }

  .full-inner-box p {
    font-size: 1.4rem;
  }

  .x-row.spotify {
    flex-direction: column-reverse;
  }

  .full-video-container {
    width: 100%;
    position: relative;
    padding-bottom: 66.25%;
    /* 16:9 aspect ratio (height/width) */
    overflow: hidden;
    display: flex;
  }

  .full-video-text {
    font-size: 2rem;
  }

  .full-video-btn-link {
    font-size: 1.5rem;
  }


  .mosaic-container {
    padding: 20px 10px;
  }

  .mosaic-top-container iframe {
    flex-basis: 90%;
  }

  .mosaic-text-container {
    padding: 10px;
    width: 100%;
  }

  .mosaic-container img {
    width: 90%;
  }

  .mosaic-container iframe {
    width: 300px;
  }

  .half-text {
    width: 100%;
    padding: 10px;
  }

  .perennial-container p,
  .what-we-know-container p {
    font-size: 1rem;
  }

  .intersect-rect-2 {
    height: 300px;
  }

  .logos:before,
  .logos:after {
    width: 100px;
  }

  .contact-container form {
    width: 100%;
  }

  .copyright-container {
    margin-top: 8px;
    font-size: 0.7rem;
  }

  footer {
    gap: 20px;
  }

  .footer-inner-container {
    align-items: center;
  }
}
